.modal form input {
  padding: 0.6rem;
  border: none;
  width: 100%;
  margin-bottom: 0.2rem;
}

.modal__controls {
  z-index: 2;
  margin: 0 auto;
  align-items: center;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.modal__controls .button {
  height: 100%;
}

.far.fa-trash-alt {
  margin: 0 1.5rem;
  cursor: pointer;
}